In [1]:
#import libraries
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#create file paths
airlines_path = '../Data Transformed/airlines_cleaned.csv'
operations_path = '../Data Transformed/airline_portcountry_cleaned.csv'

In [3]:
#extract files into DataFrames
airlines_df = pd.read_csv(airlines_path)
operations_df = pd.read_csv(operations_path)

In [4]:
#create database connection
connection_string = "postgres:postgres@localhost:5432/airlines_db"
engine = create_engine(f'postgresql://{connection_string}')

In [5]:
#confirm tables
engine.table_names()

<ipython-input-5-4fe23a8a790d>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['Airlines', 'Operations']

In [6]:
#rename columns and set index
airlines_df = airlines_df.rename(columns={'Airline ID': 'Airline_id'})
airlines_df=airlines_df.set_index('Airline_id')
operations_df = operations_df.rename(columns={'Month':'Month_Year',
                                              'Freight_In_(tonnes)':'Freight_In_tonnes',
                                              'Freight_Out_(tonnes)':'Freight_Out_tonnes',
                                              'Mail_In_(tonnes)':'Mail_In_tonnes',
                                              'Mail_Out_(tonnes)':'Mail_Out_tonnes',
                                              'Airline ID':'Airline_id'})
operations_df.index +=1
operations_df.index.names = ['id']

In [7]:
#load into database
airlines_df.to_sql(name='Airlines', con=engine, if_exists='append', index=True)
operations_df.reset_index().to_sql(name='Operations',con=engine,if_exists='append',index=False)